# Compiler files
cache/
artifacts/
out/
node_modules/
package-lock.json
yarn.lock
.env*


# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

scripts/deployParams.sh

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

